.container {
  margin: 20px auto;
  width: 80%;
  padding: 0px 20px 20px 20px;
  border: 1px dotted black;
  background-color: black;
  border-radius: 10px;
  box-shadow: 5px 5px 5px #888888;
}
th {
  text-align: left;
}

h1 {
  font-family: "Gothic"; 
  color: white;
  text-shadow: 5px 5px 5px #888888;
}

li {
  list-style-type: none;
  color: white;
}

body {
 
 background-color: blue;

}

form {
  color: white;
}

