<div class="container">
  <h1>Welcome to Sinatra!</h1>
  <p>Hello, world!</p>

  <ul>
    <% @list_short_urls.each  do |url| %>
      <li> <a href='/<%= url.short_url %>'><%= url.short_url %></a></li>
    <% end %>
  </ul>

  <form action='/urls' method='post'>
    Your url (Please include http:// in your link!):  <input type="text" name="long_url">
    <input type="submit" value="Shorten!">
  </form>
</div>
